rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // users 컬렉션 내의 문서는 해당 UID와 일치하는 인증된 유저만 접근 가능
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // 하위 컬렉션(예: equipments)도 동일하게 적용
      match /{allPaths=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}